/* Celotna stran */
body {
    font-family: Arial;
    background-color: #2A1B3D;
    color: #2A1B3D;
}

/* Glava */
header {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #B388FF;
    color: #2A1B3D;
    text-align: center;
    padding: 10px;
}

/* Logo slika */
.logo {
    float: left;
}
/* druge slike */
.slika {
    max-width: 500px;
    display: block;
    margin: 10px auto;
	
}

/* Glavna vsebina */
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
	max-width: 1900px;
	margin: 0 auto;
}

/* Sekcije v katerih je tekst */
section {
    background-color: #F5F2FF;
    margin-bottom: 20px;
    padding: 15px;
	border-radius: 10px;

}

/* Naslovi */
h2 {
    color: #7C4DFF;
}

/* Povezave */
a {
    color: #7C4DFF;
}
/* Meni urejen tako, da ne spremeni ko je zaslon skrčen */
.meni {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #2A1B3D;
    padding: 10px;
}
/* Tekst, povezave v meniju */
.meni a {
    color: #F5F2FF;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    flex-shrink: 0;
}
.meni a:hover {
    color: #B388FF;
}

/* Za druge naprave */
@media (max-width: 768px) {
    
    main {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: row;
        text-align: center;
    }

    .logo {
        float: none;
    }

    .meni {
        flex-direction: row;
    }
}
